# VSCode
.settings/*

# Monodevelop
*.userprefs
*.usertasks
*.pidb
*.resources
test-results/

# NuGet Packages
packages/JonSkeet.MiscUtil.*/*
packages/YamlDotNet.*/*
packages/clipr.*/*
packages/OpenTK.*/*
packages/System.Numerics.Vectors.*/*
packages/AssimpNet.*/*

# Build
*/bin/*
*/obj/*
