# VSCode
.settings/*

# Monodevelop
*.userprefs
*.usertasks
*.pidb
*.resources
test-results/

# NuGet Packages
packages/JonSkeet.MiscUtil.0.1/*
packages/YamlDotNet.3.5.1/*
packages/clipr.1.4.6.0/*


# Build
*/bin/*
*/obj/*
